
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.side-menu {
    width: 250px;
    height: 100vh;
    background-color: #edb97f; 
    position: fixed;
    top: 0;
    left: -250px; 
    padding-top: 20px; 
    transition: left 0.3s ease;
}


.side-menu.active {
    left: 0; 
}

.brand-name {
    padding: 20px;
    text-align: center;
    background-color: #edb97f; 
}

.brand-name h1 {
    font-size: 1.5em;
    color: #ffffff; 
}


.menu-links {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.menu-item {
    text-decoration: none;
    color: #fff; 
    padding: 10px;
    border-bottom: 1px solid #fff; 
    font-size: 1em;
    display: block; 
}

.menu-item:hover {
    background-color: #f1c490; 
}

.container {
    margin-left: 0; 
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.container.menu-visible {
    margin-left: 250px; 
}

.header {
    display: flex;
    align-items: center;
    background-color: #fff; 
    padding: 10px 20px;
    border-bottom: 1px solid #edb97f;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav img {
    height: 80px; 
    width: auto;  
}

.toggle-menu {
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    gap: 10px; 
}

.btn {
    text-decoration: none;
    color: #edb97f; 
    padding: 10px 20px;
    border: 1px solid #edb97f; 
    border-radius: 5px;
    background-color: #fff; 
}

.btn:hover {
    background-color: #edb97f; 
    color: #fff; 
}

.content-2 {
    margin-top: 20px;
}

.new-users {
    margin-bottom: 20px;
}

.new-users .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h2 {
    font-size: 1.5em;
    color: #edb97f; 
}

.title .btn {
    background-color: #edb97f; 
    color: #fff; 
    border: none;
}







.orders-box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #edb97f;
    border-radius: 10px;
    margin-top: 20px;
}

.orders-box h3 {
    color: #edb97f;
    margin-bottom: 15px;
}

.entries-controls {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.entries-controls label {
    margin-right: 10px;
}

.entries-controls select {
    padding: 5px;
    margin-right: 5px;
}

.orders-box input[type="text"] {
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.orders-box table {
    width: 100%;
    border-collapse: collapse;
}

.orders-box table th, .orders-box table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #edb97f;
}

.orders-box table th {
    background-color: #f1c490;
    color: #fff;
}

.orders-box table tr:hover {
    background-color: #f9e4ca;
}

.orders-box table td img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.pagination-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.pagination-info p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.pagination-controls {
    display: flex;
    gap: 10px;
}

.pagination-controls a, .pagination-controls span {
    text-decoration: none;
    color: #edb97f;
    padding: 5px 10px;
    border: 1px solid #edb97f;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-controls a:hover {
    background-color: #f1c490;
    color: #fff;
}






/* ALERTAS ESTILO BOTONES */

.swal2-confirm.custom-btn {
    background-color: #edb97f; /* Cambia el color de fondo aquí */
    color: #fff; /* Cambia el color del texto aquí */
  }
  .swal2-confirm.custom-btn:hover {
    background-color: #febd73; /* Cambia el color de fondo en hover aquí */
}

.swal2-cancel.custom-btn-secondary {
    background-color: #cd9759; /* Cambia el color de fondo aquí */
    color: #fff; /* Cambia el color del texto aquí */
}